@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: solid !important;
}

:root {
  --bg-primary: #05182c;
  --main-primary: #fffefe;
  --main-green: #02ef63;
  --main-yellow: #fccf0c;
  --main-blue: #07bcfc;
  --main-red: #fe6ea8;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-primary);
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

html.dark body {
  background-color: #d6e0f4;
  font-family: 'Poppins', sans-serif;
}

html.light body {
  color: var(--main-primary);
  background-color: #05182c;
  font-family: 'Poppins', sans-serif;
}

nav.fixed {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}

nav.fixed.navbar-shrink {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

@media only screen and (max-width: 767px) {
  nav ul {
    margin: 0;
    position: fixed;
    background: #fc8019;
    height: 100vh;
    left: 0;
    clip-path: circle(50px at 107% -6%);
    -webkit-clip-path: circle(50px at 107% -6%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  body.isOpen nav ul {
    clip-path: circle(1000px at 90% -7%);
    -webkit-clip-path: circle(1000px at 90% -7%);
    pointer-events: all;
  }

  .block.relative {
    z-index: 1;
  }

  nav ul li {
    opacity: 0;
  }

  nav ul li.fade {
    opacity: 1;
  }

  nav ul li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  nav ul li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  nav ul li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  nav ul li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
}

.logo {
  display: flex;
  align-items: center;
  width: 175px;
  height: auto;
  margin-left: 45px;
  transition: width 0.3s ease-in-out;
}

nav.fixed.navbar-shrink .logo {
  width: 155px;
}

@media only screen and (max-width: 767px) {
  .logo {
    width: 130px;
    height: auto;
    margin-left: 0;
  }

  nav.fixed.navbar-shrink .logo {
    width: 110px;
  }
}

li {
  list-style: none;
}

@media only screen and (max-width: 767px) {
  .isOpen {
    overflow: hidden;
  }
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 768px) {
  .sidebar-overlay.active {
    opacity: 0;
    visibility: hidden;
  }
}

html.dark body .typed-cursor {
  color: #282f66;
}

html.light body .typed-cursor {
  color: #02ef63;
}

html.dark .text-transparent {
  -webkit-text-stroke-color: #282f66;
  -webkit-text-stroke-width: 0.5px;
  z-index: -1;
}

html.light .text-transparent {
  -webkit-text-stroke-color: #fccf0c;
  -webkit-text-stroke-width: 0.5px;
  z-index: -1;
}

.whatsapp {
  position: relative;
  width: 46px;
  height: 46px;
  background: #5dc354;
  border-radius: 50%;
  box-shadow: 2px 2px 6pxrgba (0, 0, 0, 0.4);
  z-index: 100;
  transition: all ease-out 0.2s 0s;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.whatsapp:hover {
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.7);
}

.whatsapp a {
  color: white;
  font-size: 36px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.whatsapp a:hover {
  color: white;
  text-decoration: none;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes bounceInVIcon {
  0% {
    transform: scale(0.1);
    opacity: 0;
    transform-origin: center;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideDownName {
  0% {
    transform: translate(0%, -100%);
    opacity: 0;
  }
  60% {
    transform: translate(0%, 10%);
    opacity: 1;
  }
  100% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

@keyframes slideDownSlogan {
  0% {
    transform: translate(5px, -500px);
    opacity: 0;
  }
  100% {
    transform: translate(5px, 38px);
    opacity: 1;
  }
}
