@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100&display=swap');
@import '~antd/dist/antd.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-theme-mod='light'] {
    --main-bg: #ffffff;
    --primary: #000000;
    --primary-placeholder: #000000;
    --body-bg: #fafafb;

    --box-shadow: hsla(210, 8%, 62%, 0.35) 0px 8px 24px;
  }

  [data-theme-mod='dark'] {
    --main-bg: #2d2d2d;
    --primary: #ffffff;
    --primary-placeholder: #ffffff;
    --body-bg: #202020;
    --box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
  }

  [data-theme-mod='light'][data-theme-color='blue'] {
    --primary-text: #349eff;
    --primary-bg: #349eff;
  }

  [data-theme-mod='light'][data-theme-color='red'] {
    --primary-text: #fb0b12;
    --primary-bg: #fb0b12;
  }

  [data-theme-mod='light'][data-theme-color='cyan'] {
    --primary-text: #10d4d2;
    --primary-bg: #10d4d2;
  }

  [data-theme-mod='light'][data-theme-color='green'] {
    --primary-text: #019707;
    --primary-bg: #019707;
  }

  [data-theme-mod='light'][data-theme-color='orange'] {
    --primary-text: #d68102;
    --primary-bg: #d68102;
  }

  [data-theme-mod='dark'][data-theme-color='blue'] {
    --primary-text: #349eff;
    --primary-bg: #349eff;
  }

  [data-theme-mod='dark'][data-theme-color='red'] {
    --primary-text: #fb0b12;
    --primary-bg: #fb0b12;
  }

  [data-theme-mod='dark'][data-theme-color='cyan'] {
    --primary-text: #10d4d2;
    --primary-bg: #10d4d2;
  }

  [data-theme-mod='dark'][data-theme-color='green'] {
    --primary-text: #019707;
    --primary-bg: #019707;
  }

  [data-theme-mod='dark'][data-theme-color='orange'] {
    --primary-text: #d68102;
    --primary-bg: #d68102;
  }
}

*:focus-visible {
  outline: solid var(--primary-text) !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-bg);
}

body {
  overflow-x: hidden;
  background-color: var(--body-bg) !important;
}

@media only screen and (max-width: 767px) {
  header ul {
    margin: 0;
    position: fixed;
    height: 100vh;
    left: 0;
    clip-path: circle(50px at 107% -6%);
    -webkit-clip-path: circle(50px at 107% -6%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  body.isOpen header ul {
    clip-path: circle(1000px at 90% -7%);
    -webkit-clip-path: circle(1000px at 90% -7%);
    pointer-events: all;
  }

  header ul li {
    opacity: 0;
  }

  header ul li.fade {
    opacity: 1;
  }

  header ul li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  header ul li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  header ul li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  header ul li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
}

@media only screen and (max-width: 767px) {
  .isOpen {
    overflow: hidden;
  }
}

html.dark body .typed-cursor {
  color: #282f66;
}

html.light body .typed-cursor {
  color: #02ef63;
}

.text-transparent {
  -webkit-text-stroke-color: var(--primary);
  -webkit-text-stroke-width: 1px;
}

.swiper {
  overflow: visible !important;
}

.swiper .swiper-wrapper {
  padding-bottom: 65px;
}
.swiper-slide {
  height: auto !important;
}

.swiper-slide > div {
  height: 100%;
}

/* card hover animation  */
.hover-animation {
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease 0s;
  cursor: pointer;
}

.hover-animation::before {
  content: '';
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: var(--primary-text);
  position: absolute;
  left: -50%;
  top: 0;
  transform: scale(0);
  transition: transform 0.8s ease 0s;
  z-index: -1;
}

.hover-animation:hover::before {
  transform: scale(3);
}

header li.active::after {
  width: 100%;
}
